@model StorageLogistic.Controllers.BuyProduct

@{
    ViewData["Title"] = "Buy Product";
}

<h3>Simular compra</h3>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Amount" class="control-label">Digite a quantidade desejada:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="RequestId" />
    <p><strong>Disponível em estoque:</strong> @Model.AvailableAmount</p> <!-- Display amount available -->
    <div class="form-group">
        <input type="submit" value="Buy" class="btn btn-primary" />
    </div>
</form>

<br>

<a asp-action="Index" asp-controller="Products">Voltar</a>
