@model StorageLogistic.Models.Products

@{
    ViewData["Title"] = "Create Product";
}

<h1>Cadastrar novo produto</h1>

<hr />
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductType" class="control-label"></label>
        <input asp-for="ProductType" class="form-control" />
        <span asp-validation-for="ProductType" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<br>
<a asp-action="Index">Voltar</a>
